.console {
  z-index: 10;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.console *::selection {
  background: rgba(0, 0, 0, 0.25);
}

.console.active {
  visibility: visible;
}

.console * {
  cursor: default;
  font-family: Unscii;
  font-size: 32px;
  box-sizing: border-box;
}

.con-log-box {
  flex: 1;
  position: relative;
}

.con-log-scroll {
  position: absolute;
  left: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.6);
  width: 850px;
  max-height: 800px;
  pointer-events: auto;

  overflow-y: auto;
}

.con-log {
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.con-log:empty {
  padding: 0;
}

.con-log-entry {
  display: block;
  padding: 4px;
  color: #000000;
  white-space: pre;
}

.con-input {
  height: 64px;
  width: 100%;

  background: rgba(255, 255, 255, 0.6);
  color: #000000;
  outline: none;
  border: none;
  border-top: 1px solid #202020;
  padding: 16px;
  pointer-events: auto;
}